//  ============================================================================================================
//  nonAuth - Style for components used in the NonAuth container component
//  ============================================================================================================

.nonAuth{
    background: $cyan;
    height: 100vh;
    display: block;
    width: 100%;

    &__wrapper{
        padding: em(10);
    }
}